html
{
	background-color: #e5ede7;
	padding:0;
}
body
{
	font-family: Tahoma;
	font-size:1em;
	color:#252525;

	background-color: #e5ede7 !important;
	margin:0 auto;
}

#sidebar_left{
	margin-top: 20px;

}
#sidebar_left .list-group-item {
	background-color:  	#50AF2F;
	color: white;
	
}
#sidebar_left .list-group-item:hover {
background-color: 	#009C35;	
}

.container
{
	background-color:#ffffff;
}

.header-right
{
	    background: url(img/topline.png) top left no-repeat;
}
ul.menu
{
    list-style: none;
    padding:0;
    margin:0;
	margin-top:15px;
}
ul.menu li
{
    display:inline;
	margin-left:20px;
    
}
ul.menu li:before
{
    
    width:30px;
}
ul.menu li:first-child:before
{
    content:'';
}
ul.menu li a
{
	text-transform: uppercase;
	color:#0d0d0d;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}
ul.menu li a:hover
{
	color:#0ca43d;
}
.navbar-collapse.in ul.menu li
{
    display:block;
    
}
.navbar-collapse.in ul.menu li:before
{
    content:'';
}
.navbar-collapse.in ul.menu li a, .navbar-collapse.collapsing ul.menu li a
{
    display:block;
    padding:8px 20px; 
    border-bottom:1px #ccc solid;
    text-align: center;
}
.navbar-collapse.collapsing ul.menu li
{
    display:block;
    
}
.navbar-collapse.collapsing ul.menu li:before
{
    content:'';
}
button.navbar-toggle
{
	color:#444;
}
#toptel
{
	
}
#tel1
{
	color:#51af2f;
	font-size:1em;
}
#tel2
{
	color:#00983e;
	font-size:2em;
}
.banner { 
position: relative; 
overflow: auto; 
height:250px !important;
margin-bottom:15px;
}
.banner li { list-style: none; }
.banner ul li { float: left; padding:0; margin:0;}
.banner ul{
	padding:0;
	margin:0;
	height:250px !important;


}





.footer
{

	background: #2f3032;
	color:#fff;
	font-size:0.85em;
	padding-top:15px;
	padding-bottom:15px;
}
span.green
{
	color:#66ff33;
}
span.green a
{
	color:#66ff33 !important;
}
ul.B_crumbBox
{
	list-style: none;
	font-size: 0.9em;
	padding-left:0px;
}
ul.B_crumbBox li
{
	display: inline;
	font-size: 0.9em;
}
ul.B_crumbBox a
{
	font-size: 0.9em;
}
a
{
	color:#66ff33;
}
.content img
{
	max-width:100%;
}



.iframe_content{
	padding-top: 20px;
	height: 800px;
}

