body{
    font-family: Tahoma;
    color:#272727;
}
a{  transition: 1s;
   color:#888888;
    text-decoration:none;}
    a:hover{
       
       background-color:#E0E0E0;
        color:#272727;
       
    }

    li{
       
        margin: 10px;
    }
    .card:hover{
        background-color: #eaeaea;
    }
    .card{
        padding: 15px;
    }
    img{
        width:100%;
        max-width: 500px;
    }